<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>Amazon Cost Tracker</title>
</head>
<body class='text-center'>
	<% if(locals.errors){ %>
	<% let array = locals.errors %>
	<% array.forEach(err=>{ %>
		<div class="alert alert-danger alert-dismissable fade show m-1 rounded-2 text-center" role='alert' >
			<%= err.msg %>
			<button type='button' class='close' data-dismiss='alert' aria-label='close'>
				<span aria-hidden='true'>&times;</span>
			</button>
		</div>
	<% }) %>
	<% } %>
	<% if(locals.message){ %>
		<div class="alert alert-success alert-dismissable fade show m-1 rounded-0 text-center" role='alert'>
			<%= locals.message %>
			<button type='button' class='close' data-dismiss='alert' aria-label='close'>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% } %>



	<h1 class='bg-primary m-1 rounded-2'>Input URL for Amazon Product below to track price</h1>
	<form action="/submit-form" method = 'POST'>
		<div class="form-group">
			<label for="amazonUrl">Insert Url To Amazon Product Page Here</label>
			<input type="text" class="form-control" id="amazonUrl" name='amazonUrl' placeholder='https://www.amazon.com/product'>
			<label for="desiredPrice">Desired Price</label>
			<input type="text" class='form-control' id='desiredPrice' name='desiredPrice' placeholder='149.99'>
			<label for="email">Email</label>
			<input type="email" class='form-control' id='email' name='email' placeholder='johndoe@gmail.com'>
		</div>
		<button type = 'submit' class="btn btn-primary" >Submit</button>
	</form>

	
		<% if (locals.htmlLinks){ %>
		<h2>Currently Tracking: </h2>
			<div class="container d-flex justify-content-center m-0">
				<div class="row">

			<% let linksArray = locals.htmlLinks %>
			<% linksArray.forEach(el=>{ %>
			<div class='col-4'>
			<%-	el %>
			</div>
	<%	}) %>


		<% } %>
			</div>
		</div>
		


	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>